@model WebApp_Tam.Models.Mesaj

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mesaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yollayanMaili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yollayanMaili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesaji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesaji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yollanmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yollanmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.okunduMu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.okunduMu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
