@model WebApp_Tam.Models.Mesaj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mesaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yollayanMaili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yollayanMaili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesaji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesaji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yollanmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yollanmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.okunduMu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.okunduMu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
