@model IEnumerable<WebApp_Tam.Models.Urun>

@{
    ViewData["Title"] = "Kategorideki Ürünler";
}

<h1>Kategorideki Ürünler - Ana Sayfa</h1>

@if (Model.Count() == 0)
{
    <h3 class="text-danger">Bu kategoride ürün eklenmemiş...</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UrunAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fiyat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resmi)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UrunAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fiyat) ₺
                    </td>
                    <td>
                        <img src="/uploads/@Html.DisplayFor(modelItem => item.Resmi)" width="120" class="img-fluid img-thumbnail rounded-3 mx-auto d-block" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}