@model WebApp_Tam.Models.Kampanya

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kampanya</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KampanyaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KampanyaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resmi)
        </dt>
        <dd class = "col-sm-10">
            <img src="/siteResimleri/@Html.DisplayFor(model => model.Resmi)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
