@model IEnumerable<WebApp_Tam.Models.Kampanya>

@{
    ViewData["Title"] = "Kampanyalar";
}

<h1>Kampanyalar - Ana Sayfa</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KampanyaAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resmi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KampanyaAdi)
                </td>
                <td>
                    <img src="/siteResimleri/@Html.DisplayFor(modelItem => item.Resmi)" width="300" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
